@import 'base/helpers';
@import 'base/layout';
@import 'base/links';
@import 'base/table';
@import 'base/assets_frontend_3.0.2_patch';
@import 'elements/_icons';
@import 'elements/_elements_typography.scss';
@import 'modules/print';
@import 'modules/eyu';
@import 'modules/navigation';
@import 'modules/notifications';
@import 'modules/pta_header';
@import 'modules/tabs';
@import 'modules/tax_bar';
@import 'modules/text-input';
@import 'modules/forms';
@import 'modules/description_list';
@import 'modules/typography';
@import 'modules/cya-tax-summary';
@import 'modules/charcount';
@import 'modules/card';
@import 'modules/flexbox';

.grid-wrapper{
  margin-left:-15px;
  margin-right:-15px;
}

.light-grey-change{
  background-color: #dee0e2;
  margin: 0 0 35px 0;
  padding:15px 20px;
}

.button--link-style:disabled:hover{
  background-color: #fff;
  opacity: 1;
}

hr {
  display: block;
  background: #bfc1c3;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
}

// wrapping element to ensure currency remains in front of input on mobile
.form-control-currency {
  max-width: 90%;
  max-width: calc(100% - 2em);
}