@import 'base/helpers';
@import 'base/layout';
@import 'base/links';
@import 'base/table';
@import 'base/assets_frontend_3.0.2_patch';
@import 'elements/_icons';
@import 'elements/_elements_typography.scss';
@import 'modules/print';
@import 'modules/eyu';
@import 'modules/navigation';
@import 'modules/notifications';
@import 'modules/pta_header';
@import 'modules/tabs';
@import 'modules/tax_bar';
@import 'modules/text-input';
@import 'modules/forms';
@import 'modules/description_list';
@import 'modules/typography';
@import 'modules/cya-tax-summary';
@import 'modules/charcount';
@import 'modules/card';
@import 'modules/flexbox';
@import 'modules/tax_code_change';
@import 'modules/responsive_table';
@import "modules/cy-plus-one-income-tax-comparison";


.income-data {
  .income-data-input {
     width: 100%
   }
}

.grid-wrapper{
  margin-left:-15px;
  margin-right:-15px;
}

.light-grey-change{
  background-color: #dee0e2;
  margin: 0 0 35px 0;
  padding:15px 20px;
}

.button--link-style:disabled:hover{
  background-color: #fff;
  opacity: 1;
}

hr {
  display: block;
  background: #bfc1c3;
  height: 1px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 30px;
}

.heading-xlarge.heading-mobile-responsive{
  $mobile: 768px;
  $mobile-small: 641px;

  @media(min-width: $mobile-small){
    margin-top: .125em;
    font-size: 48px;
    line-height: 1.04167;
  }

  @media (max-width: $mobile) {
    font-size: 36px;
  }
  @media (max-width: $mobile-small) {
    font-size: 25px;
  }
}
.govuk-box-highlight {
  .heading-large {
    font-size: 36px;
    margin: 0;

    $tablet: 955px;
    $mobile: 768px;
    $mobile-small: 641px;
    @media (max-width: $tablet) {
      font-size: 28px;
    }
    @media (max-width: $mobile) {
      font-size: 22px;
    }
    @media (max-width: $mobile-small) {
      font-size: 19px;
    }
    @media(max-width: 355px){
      font-size: 17px
    }
  }
}

.validation-error__inline-error {
    font-size: 16px;
}

.carry-over{
  -ms-word-break: break-all;

  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.banner-panel-close {
    display: none;
}

@media (max-width: 640px) {
    #full-width-banner {
        display: none;
    }
}

.tai-progress-panel {
  background-color: #005ea5;
  color: #fff;
  margin: 15px 0 20px 0;
  padding: 10px 5px 5px 10px;
  clear: both;
}

.tai-progress-panel a {
  color: #fff;
}

.tai-progress-panel a:hover {
  text-decoration: none;
}

.tai-progress-panel p {
  margin-bottom: 0;
}

#incomeSummary-banner-heading{
  margin-bottom: 0;
}

.tai-detail-large {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 32px;
  color: #4B5053;
}

.anchor-webchat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}