.responsive{
  $mobile: 768px;
  $mobile-small: 641px;
  width: 100%;
  margin-top: 20px;

  caption.tax-free-amount-table-heading{
    font-weight: 700;

    @media (max-width: $mobile) {
      font-size: 22px;
    }
    @media (max-width: $mobile-small) {
      font-size: 19px;
    }
  }

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr {
      display: block;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding-right: 0;
      }

      &.table-title{
        font-weight: normal;
        @media (max-width:$mobile) {
          font-weight: 700;
        }
      }

      &.table-title-mobile{
        font-weight: 700;
        text-align: left;
        padding-right: 1em;
        display: block;
        @media (min-width: $mobile) {
          display: none;
        }
      }
    }

    .tax-free-amount-table-heading{
      font-weight: 700;
      @media (max-width: 768px) {
        font-size: 19px;
      }
    }

    .table-heading {
      font-weight: normal;
      text-align: left;
      padding-right: 1em;
      display: block;

      @media (min-width: $mobile) {
        display: none;
      }

      &#employerName{
        @media (max-width: $mobile) {
          font-weight: 700;
        }
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;
        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }

        &.numeric {
          text-align: left;

          @media (min-width: $mobile) {
            text-align: right;
            width: 27.5%;
          }
        }

        &.tax-free-amount-table-heading {
          font-weight: 700;

          @media (max-width: $mobile) {
            font-size: 22px;
          }
          @media (max-width: $mobile-small) {
            font-size: 19px;
          }
        }

        &.link-update{
          @media (min-width: $mobile) {
            padding: 10px 10px 0 20px;
            width: 20%;
          }
          & a{
            @media (min-width: $mobile) {
            }
          }
        }
      }
    }
    .total {
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}


.tax-free-amount-dates{
  text-align: right;
}

.table__caption--bottom-border{
  font-size: 19px;
}

.table-foot {
  border-bottom: 1px solid #bfc1c3;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 1em 0 0.75em;
}




