.eyu-multi-messages p{
    display: inline-block;
    width: 92%;
}

.eyu-multi-messages-bullets {
    padding-left: 7%;
}

#eyu-icon-important-single {
    padding-bottom: 3%;
    margin-right: 2%;
}

#eyu-icon-important-multi {
    padding-top: 1%;
    margin-right: 2%;
}

.eyu-multi-messages-print {
    width: 100%;
    padding-top:15px;
}

.eyu-icon-important-single-print {
    float: left;
}

#eyu-multi-messages-bullets {
    padding-left: 3%;
}