.employment-card-single-u {
    border: 1px solid #E5E7E8;
    padding: 1em 1.5em 0em 1em;
    margin-bottom: 1em;
}
.employer-name {
    border-bottom: 1px solid #E5E7E8;
    padding-bottom: 0.5em;
}

 ul {
    margin-bottom: 10px;
      margin-bottom: 10px;

  }
li {
  margin-bottom: 1em;
  min-width: 32%;
  display: inline-block;


}
  ul span {
    font-weight: 600;
    padding: 0em 0em 0.5em 0em;
    display: block;

  }