@media(min-width:641px) {
    .side-navigation {
        margin-left:40px;
    }
}

.column-half {
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  .column-half {
    float: left;
    width: 50%;
  }
}

.fixed-small {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
