#print-date-column th {
    width: 20%;
    padding-bottom: 6px;
}

.print-table {
  border-collapse: collapse;
  text-align: left;
}

tr.print-pension-contributions-data td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bfc1c3;
  padding-top: 5px;
  padding-bottom: 5px;
}

.print-table__row--bold td,
th {
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #bfc1c3;
  padding-top: 5px;
  padding-bottom: 5px;
}

#print-date-column {
  width: 18%;
}

#print-taxable-income-column {
  width: 23%;
}

#print-income-tax-paid-column {
  width: 22%;
}

.print-text--right {
  text-align: right;
}

.print-grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.print-grid-row {
  margin: 0 -15px;
}


@media print {
  @page {
    size: portrait;
    margin: 0mm;
    padding: 1cm .5cm;
  }

  html {
    margin: 0px;
  }

  .hmrc-user-research-banner,
  .cbanner-govuk-cookie-banner,
  a[href],
//     .hide-for-print,
  .beta-banner,
  .report-error,
  .historic-pay-as-you-earn .govuk-phase-banner,
  .historic-pay-as-you-earn .govuk-footer,
  .govuk-phase-banner,
  .govuk-footer,
  .service-info,
  .govuk-back-link {
      display: none;
      visibility: hidden;
  }

  main.govuk-main-wrapper {

    div.grid.grid-1-3 .inner-block {
        display: none;
        visibility: hidden;
    }

    .print-banner {
        display: flex;
        justify-content: space-between;
        visibility: visible;
        border-bottom: 3px solid #b1b4b6;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .print-banner img {
        width: 180px;
        aspect-ratio: auto 30 / 8;
        height: 48px;
    }



    .display-tax-code-for-print {
      display: inline !important;
      visibility: visible !important;
      text-decoration: none;
      color: black;
    }

    a[href]:after {
        content: none !important;
    }

    div.govuk-grid-column-two-thirds {
        width: 95% !important;
        margin: 30px !important;
    }

    &.future-pay-as-you-earn-summary .table__row--top-border,
    &.future-pay-as-you-earn-summary .table__footer--highlight,
    &.future-pay-as-you-earn-summary .highlight {
        background-color:#fff
    }

    .only-visible-on-print {
        display: inline-block;
        visibility: visible;
    }

    div.card-body  {
        background-color: #fff !important;
    }

    h3.card-heading a {
        display: block !important;
        visibility: visible !important;
    }

   #taxCodesLink {
      display:inline !important;
      visibility:visible !important;
      color:black;
      text-decoration:none;
   }

    #taxOnEmploymentIncomeDesc > #taxFreeAmountLink {
        display:inline !important;
        visibility:visible !important;
        color:black;
        text-decoration:none;
    }

    #estimatedIncomeLowDesc > #taxFreeAmountLink {
        display:inline !important;
        visibility:visible !important;
        color:black;
        text-decoration:none;
    }

  main.govuk-main-wrapper thead {display: table-row-group;}

  }

  header, nav, .govuk-back-link, footer {
        display: none;
        visibility: hidden;
   }
}