.print-banner {
  display: none;
  visibility: hidden;
}

.only-visible-on-print {
    display:none;
    visibility: hidden
}

.print-this {
  background-image: url(../images/printer-icon-hmrc-1.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 16px;
  margin: 1em 0;

  &__link {
      color: #000 !important;
      padding-left: 25px;
      text-underline-offset: .2em;
      font-family: "GDS Transport", arial, sans-serif;

      &:hover {
        text-decoration-thickness: max(3px);
      }
  }
}

@media print {
  @page {
    size: portrait;
    margin: 0mm;
    padding: 1cm .5cm;
  }

  html {
    margin: 0px;
  }

  .govuk-grid-row {
    margin: 0;

    &:has(.govuk-grid-column-one-half) {
      display: flex;
      justify-content: space-between;
      gap: 2em;
    }
  }

  [class*="govuk-grid-column"] {
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
    flex: 1;
  }

  .print-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    margin-bottom: 30px;
    padding-bottom: 10px;

    img {
        width: 180px;
        aspect-ratio: auto 30 / 8;
        height: 48px;
    }

    .hmrc-banner,
    .hmrc-organisation-logo {
        padding: 0;
    }

    .hmrc-organisation-logo {
        padding-left: 5px;
    }
  }

  .display-for-print {
    display: inline !important;
    visibility: visible !important;
    text-decoration: none;
    color: black;
  }

  a[href]:after {
    content: none !important;
  }

  header[role=banner],
  header,
  nav,
  footer,
  .hmrc-user-research-banner,
  .cbanner-govuk-cookie-banner,
  .hide-for-print,
  .beta-banner,
  .report-error,
  .historic-pay-as-you-earn .govuk-phase-banner,
  .historic-pay-as-you-earn .govuk-footer,
  .govuk-phase-banner,
  .govuk-footer,
  .service-info,
  .govuk-back-link,
  .govuk-summary-card + p:has(.govuk-link),
  .hmrc-report-technical-issue,
  .print-this,
   #iForms {
    display: none;
    visibility: hidden;
  }

  .historic-pay-as-you-earn .column-two-thirds,
  .historic-pay-as-you-earn .grid-2-3 {
    width: 100%;
  }

  .future-pay-as-you-earn-summary .table__row--top-border,
  .future-pay-as-you-earn-summary .table__footer--highlight,
  .future-pay-as-you-earn-summary .highlight {
    background-color:#fff
  }

  .only-visible-on-print {
    display: inline-block;
    visibility: visible;
  }

   div.card-body  {
     background-color: #fff !important;
   }

   h3.card-heading a {
     display: block!important;
     visibility: visible!important;
   }

  details.govuk-details.only-visible-on-print > summary {
    color: #000;
  }
}