.number-bar__container {
    margin-top: 30px;
    margin-bottom: 40px;
}

.chart {
    position:relative;
    height:44.5px; /* 27 / 19 */
    width:auto;
    background-color:#bfc1c3;
}

.chart-bar {
    height:100%;
    width:0%;
    background-color:#2b8cc4;
    float:left;
}

.tax-bar {
    position:relative;
    height: calc(10em / 19);
    border:0px solid #6f777b;
    width:auto;
}

.tax-point {
    height: calc(10em / 19);
    width:2px;
    background:#bfc1c3;
    position:absolute;
}

.number-bar {
    position:relative;
    width:auto;
    height: calc(15em / 19);
    margin:calc(5em / 19) 0;
}

.number-bar span {
    position:absolute;
    text-align:center;
    font-size:19px;
}

.number-bar .centred {
    width:30%;
    margin-left:-15%;
}

.number-bar .right {
    width:30%;
    margin-right:-30%;
    text-align: left;
}

.number-bar .left {
    width:30%;
    margin-left:-30%;
    text-align:right;
}

.key-icon {
    display:block;
    width: calc(30em / 19);
    height:calc(30em / 19);
    background-color:transparent;
    margin-right: .5em;
}

.key-icon.Band-unused {
    height: calc(25em / 19);
    width: calc(25em / 19);
}

.TaxFree {
    background-color:#4c2c92;
}

.Band {
    background-color: #f499be;
}

.Band-unused {
    background-color:#bfc1c3;
}

.income-tax,
.swatch {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNjAgMTYwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0aXRsZT5Hcm91cCA0PC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IHdpZHRoPSIxNjAiIGhlaWdodD0iMTYwIiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii4wMDcxMDQ4Ii8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNDAgNDApIiBmaWxsPSIjQTkwQzFDIj48cmVjdCB3aWR0aD0iNDAiIGhlaWdodD0iNDAiLz48cmVjdCB4PSI4MCIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIi8+PHJlY3QgeT0iODAiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIvPjxyZWN0IHg9IjgwIiB5PSI4MCIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIi8+PC9nPjwvZz48L3N2Zz4=');
    background-size: 12px;
    background-color: transparent;
}

.swatch {
    position:absolute;
}
