.section--divider{
    border-bottom: 1px solid #BFC1C3;
}

.section--narrow{
    padding: 0.5em 0;
}

.heading-section{
    padding-bottom: 0.4em;
    margin-bottom: 1em;
    border-bottom: 1px solid #BFC1C3;
}

.section__box--shaded{
    background: #F8F8F8;
    padding-left: 15px;
    padding-right: 15px;
}