a,
.link-style,
.button--link-style,
.link-style:visited,
.button--link-style:visited,
.button--link-style:focus {
  color: #005EA5;
}
a:hover,
.link-style:hover,
.button--link-style:hover {
  color: #2e8aca;
}
.link-style--no-hover:hover {
  color: #005EA5;
}
.button--link-style:focus {
  background-color: #ffbf47;
}
.button--link-style:active {
  top: 0;
}