$govuk-include-default-font-face: false;
@media screen {
  @import 'base/helpers';
  @import 'base/layout';
  @import 'modules/tax_bar';
  @import 'modules/card';
}

@import 'modules/print';

.carry-over {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: none;
}

.border-bottom-1px {
  border-bottom: 1px solid #ccc;
}

.anchor-webchat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.under-line {
  padding-bottom: .4em;
  padding-top: 14px;
  border-bottom: 1px solid #b1b4b6;
}

header + .hmrc-user-research-banner {
  top: -10px;
}

#iForms h2 {
  font-family: GDS Transport,arial,sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
}

#iForms  ul {
  font-family: GDS Transport,arial,sans-serif;
  font-size: 19px;
  padding: 12px;
}

#iForms  ul li {
  margin-bottom:10px;
}

@media screen and (min-width:360px) and (max-width:600px) {
  #iForms h2 {
    font-size: 18px;
  }

  #iForms ul {
    font-size: 16px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.govuk-vertical-align-middle {
  vertical-align: top;
}

// css to ensure minus stays with amount in one line
.table__cell--top-align-nowrap {
  vertical-align: top;
  white-space: nowrap;
  width: 28%;
}

@media (min-width: 40.0625em) {
  #companyBenefitList .govuk-summary-list__actions {
    width: auto;
    text-align: right;
    padding-left: 10px;
  }
}
