$govuk-include-default-font-face: false;
@import 'base/helpers';
@import 'base/layout';
@import 'modules/print';
@import 'modules/printSCA';
@import 'modules/tax_bar';
@import 'modules/card';




@media (max-width: 768px) {
 .set-no-row-border {
  border-bottom: 0;
 }
}


@media(min-width:641px) {
  .side-navigation {
    margin-left:40px;
  }
}

.carry-over{
  -ms-word-break: break-all;

  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.border-bottom-1px {
  border-bottom: 1px solid #ccc;
}


.anchor-webchat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}


div.print-banner {
  display: none;
  visibility: hidden;
}


body.printable-page.js-enabled #print-link-btn {
    display: inline;
    visibility: visible;
}

body.printable-page.js-enabled .print-this {
  display: inline;
  visibility: visible;
}

.under-line {
  padding-bottom: .4em;
  padding-top: 14px;
  border-bottom: 1px solid #b1b4b6;
}

.only-visible-on-print {
    display:none;
    visibility: hidden

}

header + .hmrc-user-research-banner {
  top: -10px;

}


.print-this {
  background-image: url(../images/printer-icon-hmrc-1.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 16px;
  margin: 1em 0;
}


.print-this__link {
    color: #000!important;
    padding-left:25px;
    text-underline-offset: 0.2em;
    font-family: "GDS Transport", arial, sans-serif;
}

.print-this__link:hover {
  text-decoration-thickness: max(3px);
}

#iForms  h2 {
  font-family: GDS Transport,arial,sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #BFC1C3;
}


#iForms  ul {
  font-family: GDS Transport,arial,sans-serif;
  font-size: 19px;
  padding: 12px;
}

#iForms  ul li {
  margin-bottom:10px;
}

@media screen and (min-width:360px) and (max-width:600px) {

  #iForms h2 {
    font-size: 18px;
  }

  #iForms ul {
    font-size: 16px;
  }

}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}


.govuk-vertical-align-middle {
  vertical-align: top;
}

// css to ensure minus stays with amount in one line
.table__cell--top-align-nowrap {
  vertical-align: top;
  white-space: nowrap;
  width: 28%;
}
