@media(min-width:641px) {
    .side-navigation {
        margin-left:40px;
        &.side-navigation--left {
            margin-left:0;
            margin-right:40px;
        }
    }
}

@media(min-width:641px) {
    .side-nav-element {
        margin-left:40px;
        padding: 10px 30px 10px 15px;
    }
}

@media(max-width:640px) {
    .side-navigation__plus-text{
        text-align: right;
        width: 100%;
        display: inline-block;
    }
    .side-navigation--left {
            li {
                margin-left: 0;
            }
        }
}

.side-nav-element {
    padding:10px;
    margin:0 0 15px 0;
}
.side-nav-element:after {
    content:"";
    display:table;
    clear:both;
}

.nav-element {
    background-color: #dee0e2;
}

.nav-element--body,
.nav-element:hover,
.nav-element--title:hover,
.nav-element.selected {
    background-color: #F8F8F8;
}

.nav-element--title {
    padding:20px 30px 20px 20px;
}

.nav-element--body {
    margin-bottom:30px;
    padding:15px 30px 30px 20px;
}

@media(min-width:1020px) {
    .nav-element--title {
        min-height:110px;
        height:auto !important;
        height:110px;
    }
}
.lte-ie8 {
    .nav-element--title{
        min-height:110px;
        height:auto !important;
        height:110px;
    }
}

@media(min-width:1020px) {
    .grid-lg-1-2 {
        width:50%;
    }
}
.lte-ie8 {
 .grid-lg-1-2 {
        width:50%;
    }
}

.grid-layout {
    margin-left: 0;
}

.bucket-text {
    float: left;
    width: 80%;
    @media only screen and (min-width: 768px) {
        margin-left: 0px;
        width: 71%;
   }
    @media only screen and (max-width: 320px) {
        width: 69%;
    }
    @media only screen and (max-width: 360px) {
        width: 61%;
    }
}

ul.four-buckets {
    margin-top: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.nav-list li {
    display:inline-block;
    padding: 12px 15px;
    width: 81%;
    color: #0B0C0C;
    background: #DEE0E2;

  @media only screen and (max-width: 360px) {
      width: 92%;
      margin-left: 0;
  }
}

.nav-list  li.selected {
      background: #005ea5;
      color: white;
}

.nav-list li:hover {
  background: #005ea5;
}

.nav-list li a {
    color: #0B0C0C;
}

// li a span:first-child {
//     text-decoration: underline;
// }

.nav-list li:hover a {
    color: #fff;
}

.nav-list .bucket-chevron {
    width: 20%;
    float: right;
    text-align: center;
}

.nav-list .bucket-text span {
  display:block;
}

.chevron--right {
    display: none;
}

.selected span.chevron--right {
    color: white;
    display: block;
}

.chevron--right::before {
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    display: inline-block;
    content: '';
    left: 0;
    top: 13px;
    width: 1em;
    height: 1em;
    position: relative;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    @media only screen and (min-width: 361px) and (max-width: 1024px) {
        left: -10px;
    }
    @media only screen and (max-width: 360px) {
        left: -15px;
    }
}

.bold-small {
    font-size: 19px;
    @media only screen and (max-width: 360px) {
        font-size: 16px;
    }
}

.bold-medium{
    font-size: 24px;
    @media only screen and (max-width: 767px) {
        font-size: 19px;
    }
    @media only screen and (max-width: 360px) {
        font-size: 18px;
    }
}

.paye-hr {
    display: block;
    height: 5px;
    border: 0;
    margin: 15px 0 30px;
    padding: 0;
    background: #bfc1c3;
}

.column-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  .column-half {
    float: left;
    width: 50%;
  }
}

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.0416666667;
}
@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.fixed-small {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}

.margin-top {
    margin-top: 30px;
}

.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-top: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #0b0c0c;
  }

  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;

  // Back arrow - left pointing black arrow
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;

    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }

  @media(min-width: 641px) {
    font-size:16px;
    line-height:1.25;
  }
}