.tax-code-change {
  margin: 0 -30px 20px -30px;

  .tai-description-list {
    margin-top: 0;
  }
  .tai-description-list > *:last-child > * {
    border-bottom: none;
  }

  .tai-description-list > *:first-child > * {
    border-top: none;
  }

  .section-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .tax-code-change__explanation {
    margin-bottom: 15px;
  }

  .tax-code-change__payroll,
  .tax-code-change__date,
  .tax-code-change__tax-code {
    margin-bottom: 20px;
  }

  .tax-code-change__pod {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
}

.tax-free-amount-comparison-table.responsive-table {

  margin-top: 20px;

  tbody {
    .table-heading {
      font-weight: normal;
    }
  }

  .tax-free-amount-comparison-row-title {
    @media (max-width: 768px) {
      font-weight: 700;
    }
  }

  .tax-free-amount-comparison-row-heading {
    @media (max-width: 768px) {
      font-size: 19px;
    }
  }
}