.tax-code-change {
  margin: 0 -30px 20px -30px;

  .tai-description-list {
    margin-top: 0;
  }
  .tai-description-list > *:last-child > * {
    border-bottom: none;
  }

  .tai-description-list > *:first-child > * {
    border-top: none;
  }

  .section-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .tax-code-change__explanation {
    margin-bottom: 15px;
  }

  .tax-code-change__date {
    margin-bottom: 20px;
  }

  .tax-code-change__tax-code {
    margin-bottom: 20px;
  }

  .tax-code-change__pod {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }
}